Score
{
	text:			0;
	font:			fonts/Renegade Mistress.ttf;
	characterSize:	60;
	fillColor:		#ff6d00;
	origin:			center;
}

Player1Score
{
	position: 13 5;
}

Player2Score
{
	position: 85 5;
}

Pause
{
	text:			pause;
	font:			fonts/MonoglycerideBold.ttf;
	characterSize:	70;
	fillColor:		black;
	origin:			center;
	position:		50 50;
	visible:		false;
}
