title
{
	text:				AIR HOCKEY;
	font:				fonts/Renegade Mistress.ttf;
	fillColor:			#4183d4;
	characterSize:		100;
	outlineThickness:	0.5;
	origin:				center;
	position:			50 10;
}

button
{
	font:			fonts/MonoglycerideBold.ttf;
	characterSize:	60;
}

playButton
{
	texture:	buttons/play.png;
	text:		PLAY;
	position:	50 40;
}

multiplayerButton
{
	texture:	buttons/multiplayer.png;
	text:		MULTIPLAYER;
	position:	50 60;
}

quitButton
{
	texture:	buttons/quit.png;
	text:		QUIT;
	position:	50 80;
}
